<div class="ui left aligned huge raised segment" style="background-color: #f5f5f5;">
  <h1 class="ui blue header center aligned">Швидко та зручно друкуйте поліграфію та рекламу.</h1>
  <p>
    <i class="icon blue calculator"></i>Дізнайтесть ціну <i class="icon blue money"></i>в один клік.
  </p>
  <p>
      <i class="icon blue address card"></i> Без реєстрації.
    </p>
  <p>
    <i class="icon blue edit"></i>Ми розробимо макет <i class="icon blue image"></i> після замовлення.
  </p>
  <p>
    <i class="icon blue paper plane"></i>Доставимо Новою Поштою в найближче відділення. <i class="icon blue marker"></i>
  </p>
  <h4 class="ui medium blue header center aligned">
    <i class="icon blue arrow down"></i>
    Лише 5 простих кроків.
  </h4>
</div>
<div class="ui blue raised segments">
  <div class="ui huge segment">
    <h3 class="ui medium blue header center aligned">
      1. Оберіть потрібний товар.
    </h3>
  </div>
  <div class="ui four columns stackable grid menu blue segment">
    <div class="ui column center aligned item link" *ngFor='let product of products'>
      <a [routerLink]="['/order-form/', product._id]">
        <div class="ui top left huge blue attached label">{{product.name}}</div>
        <img [src]="product.imgSrc" alt="" class="ui image" style='padding-left:50px;'>
      </a>
    </div>
  </div>
</div>