<div class="ui left aligned huge raised segment" style="background-color: #f5f5f5;">
  <h2 class="ui blue header center aligned">Швидко та зручно друкуйте поліграфію та рекламу.</h2>
  <p>
    <i class="icon blue paint brush"></i>Розробимо ваш макет.
  </p>
  <p>
    <i class="icon blue hand pointer"></i>Надрукуємо навіть 1 шт.
  </p>
  <p>
    <i class="icon blue marker"></i>Доставимо Новою Поштою в найближче відділення.
  </p>
  <p>
    <i class="icon blue wait"></i>Збережемо ваш час.
  </p>
  <i class="icon blue ordered list"></i>Лише п`ять простих кроків.
</div>
<div class="ui blue raised segments">
  <div class="ui huge segment">
    <i class="icon blue arrow down"></i>1. Оберіть потрібний товар.
  </div>
  <div class="ui three columns stackable grid menu blue segment">
    <div class="ui column center aligned item link" *ngFor='let product of products'>
      <a [routerLink]="['/order-form/', product._id]">
        <div class="ui top left huge blue attached label">{{product.name}}</div>
        <img [src]="product.imgSrc" alt="" class="ui image">
      </a>
    </div>
  </div>
</div>