<!-- <div>
  <div class="ui raised segment" style="padding: 7px; margin: -8px 0;">
    <h2 class="ui large blue header fluid center aligned" style="line-height: 1.5rem">Друковані оголошення</h2>
  </div>
</div> -->
<div class="ui raised segments">
  <div class="ui four columns doubling grid menu segment">
    <div *ngFor='let product of products' class="ui column center aligned item link" style="padding-top: 0px!important; padding-bottom: 30px!important;">
      <!-- <a [routerLink]="['/order-form/', product._id]">
        <div class="ui top left large blue attached label"></div>
        <img [src]="product.imgSrc" alt="" class="ui image">
      </a> -->
      <a [routerLink]="['/order-form/', product._id]" class="ui medium image">
        <img [src]="product.imgSrc">
      </a>
      <div style="padding: 10px 0px; margin: 0px;" class="ui bottom attached large blue label">{{product.name}}</div>
    </div>
  </div>
</div>
<div class="ui left aligned huge raised segment center aligned" style="padding: 4px;">
  <p>
    <i class="icon blue address card"></i> Без реєстрації.
  </p>
  <p>
    <i class="icon blue money"></i>Ціна в один дотик.
  </p>
  <p>
    <i class="icon blue edit"></i>Розробимо будь-який макет.
  </p>
  <p>
    <i class="icon blue paper plane"></i>Новою Поштою в найближче відділення.
  </p>
</div>
