<div class="ui inverted vertical footer segment">
  <div class="ui inverted doubling equal height stackable grid">
    <div class="five wide right aligned column">
      <a href="https://www.facebook.com/Signaculum-657360681131222/" class="ui small circular facebook icon button">
        <i class="facebook icon"></i>
      </a>
      Заходьте на Facebook проекта
    </div>
    <div class="five wide right aligned column">
      0734013733
    </div>
    <div class="six wide right aligned column">© 2018 Signaculum 1.0.3-beta
      <i class="ua flag"></i>
    </div>
  </div>
</div>