<div class="ui two column grid menu container" style="background-color: #37474f;">
  <div routerLink="/" class="twelve wide column item link">
    <h2 class="ui inverted header">
      <i class="small print blue icon"></i> {{title}}
    </h2>
  </div>
  <!-- <div class="six wide column item link">
    <h7 class="ui inverted header">
      Sign Up
    </h7>
  </div> -->
  <div routerLink="/register" class="two wide center aligned column item link">
    <p class="ui inverted tiny header">
      Sign Up
    </p>
  </div>
  <div routerLink="/login" class="two wide center aligned column item link">
    <p class="ui inverted tiny header">
      Log In
    </p>
  </div>
</div>