<div class="ui grid menu container" style="background-color: #37474f;">

  <div routerLink="/" class="twelve wide column item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <h2 class="ui inverted header">
      <i class="print blue icon"></i> {{title}}
    </h2>
  </div>

  <div class="ui four wide column item stackable grid">

    <div *ngIf="authService.loggedIn()" routerLink="/orders" class="four wide column item link" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      <p class="ui inverted tiny header">
        Orders
      </p>
    </div>
    <div *ngIf="authService.loggedIn()" routerLink="/users/profile" class="four wide column item link" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      <p class="ui inverted tiny header">
        Profile
      </p>
    </div>
    <div *ngIf="authService.loggedIn()" routerLink="/register" class="four wide column item link" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      <p class="ui inverted tiny header">
        Sign Up
      </p>
    </div>
    <div *ngIf="!authService.loggedIn()" routerLink="/login" class="sixteen wide column item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <p class="ui right aligned inverted tiny header">
        Log In
      </p>
    </div>
    <div *ngIf="authService.loggedIn()" (click)="onLogoutClick()" class="four wide column item link">
      <p class="ui inverted tiny header">
        Log Out
      </p>
    </div>

  </div>

</div>