<div class="ui column grid menu container" style="background-color: #37474f;">
  <div routerLink="/" class="six wide column item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">
    <h2 class="ui inverted header">
      <i class="small print blue icon"></i> {{title}}
    </h2>
  </div>
  <div *ngIf="_authService.loggedIn()" routerLink="/orders" class="two wide left aligned column item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">
    <p class="ui inverted tiny header">
      Orders
    </p>
  </div>
  <div *ngIf="_authService.loggedIn()" routerLink="/users/profile" class="two wide left aligned column item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">
    <p class="ui inverted tiny header">
      Profile
    </p>
  </div>
  <div *ngIf="!_authService.loggedIn()" routerLink="/register" class="two wide left aligned column item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">
    <p class="ui inverted tiny header">
      Sign Up
    </p>
  </div>
  <div *ngIf="!_authService.loggedIn()" routerLink="/login" class="two wide left aligned column item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">
    <p class="ui inverted tiny header">
      Log In
    </p>
  </div>
  <div *ngIf="_authService.loggedIn()" (click)="onLogoutClick()" class="two wide left aligned column item link">
    <p class="ui inverted tiny header">
      Log Out
    </p>
  </div>
</div>