<div *ngFor='let order of orders' class="ui left aligned large raised segment container" style="background-color: #fafafa;">
    <a [routerLink]="['/order-details/', order._id]">
        <div class="ui stackable grid link">
            <div class="two wide column">
                {{order.price}}
            </div>
            <div class="three wide column">
                {{order.product}}
            </div>
            <div class="three wide column">
                {{order.amount}}
            </div>
            <div class="four wide column">
                {{order.address}}
            </div>
            <div class="four wide column">
                {{order.name}} 
            </div>
        </div>
    </a>
</div>