<div *ngFor="let order of orders" class="ui large raised segment container stackable grid">
    <div class="two wide column">
        {{order.price}}
    </div>
    <div class="four wide column">
        {{order.product}}
    </div>
    <div class="four wide column">
        {{order.address}}
    </div>
    <div class="four wide column">
        {{order.amount}}
    </div>
    <div class="two wide column">
        <input type="button" (click)="deleteOrder(order._id)" value="Delete" class="btn btn-danger">
    </div>
</div>

<div class="ui left aligned large raised segment container" style="background-color: #eceff1;">
    <div class="ui stackable grid">
        <div class="ui column link" *ngFor='let order of orders'>
            <a [routerLink]="['/orders-details/', order._id]">
                a
            </a>
        </div>
    </div>
</div>