<div class="ui stackable grid">
  <!-- <div class="eight wide right aligned column">
    <div class="ui raised segment" style="background-color: #fafafa;">
      <div *ngIf="product" class="ui fluid image">
        <img [src]="product.imgSrc" alt="" class="ui image">
      </div>
    </div>
  </div> -->
  <div class="sixteen wide column">
    <form class="ui form" *ngIf="product" [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm)">
      <div class="ui raised segments">
        <div class="ui huge segment">
          <h3 class="ui small blue header">
            <i class="icon blue gift"></i>
            2. Дізнайтесь ціну і подарунок.
          </h3>
        </div>
        <div class="ui big blue segment" style="background-color: #fafafa;">
          <p>Логотип нагорі завжди поверне до меню товарів.
            <i class="icon blue arrow up"></i>
          </p>
          <p>{{product.info}}</p>
          <div *ngIf="!outdoor">
            <div class="field">
              <label>Розмір:</label>
              <select class="ui dropdown" formControlName="size" (change)="tempFormValueRefresh()">
                <option *ngFor="let size of product.sizes">{{size}}</option>
              </select>
            </div>
            <div class="field">
              <label>Кількість:</label>
              <input type="text" formControlName="amount" (input)="tempFormValueRefresh()">
            </div>
          </div>
          <div *ngIf="outdoor">
            <div class="field">
              <label>Тип друку:</label>
              <select class="ui huge dropdown" formControlName="size" (change)="tempFormValueRefresh()">
                <option *ngFor="let size of product.sizes">{{size}}</option>
              </select>
            </div>
            <div class="field">
              <label>Розмір (мм):</label>
              <input type="text" placeholder="ширина" formControlName="width" (change)="tempFormValueRefresh()">
            </div>
            <div class="field">
              <input type="text" placeholder="висота" formControlName="height" (change)="tempFormValueRefresh()">
            </div>
            <div class="field">
              <label>Кількість копій:</label>
              <input type="text" formControlName="amount" (input)="tempFormValueRefresh()">
            </div>
          </div>
          <h2 class="ui header">
            {{product.name}}
          </h2>
          <h1 class="ui green header">
            {{price}} грн
          </h1>
          <h2 class="ui red header" *ngIf="!luvers">
            <i class="icon gift"></i> Доставка у подарунок!
          </h2>
        </div>
      </div>
      <div class="ui raised segments">
        <div class="ui huge segment">
          <h3 class="ui small blue header">
            <i class="icon blue home"></i>3. Вкажіть необхідні данні для доставки Новою Поштою.
          </h3>
        </div>
        <div class="ui big blue segment" style="background-color: #fafafa;">
          <div class="field">
            <label>Номер телефону: *</label>
            <input type="text" formControlName="phone" (change)="searchByPhone()">
          </div>
          <div class="ui mini negative message" *ngIf="orderForm.get('phone').hasError('required') && orderForm.get('phone').touched">
            Номер телефону - обов`язкове поле
          </div>
          <div class="field">
            <label>Прізвище: *</label>
            <input type="text" formControlName="surName" (change)="tempFormValueRefresh()">
            <div class="ui mini negative message" *ngIf="orderForm.get('surName').hasError('required') && orderForm.get('surName').touched">
              Прізвище - обов`язкове поле
            </div>
          </div>
          <div class="field">
            <label>Iм`я: *</label>
            <input type="text" formControlName="name" (change)="tempFormValueRefresh()">
            <div class="ui mini negative message" *ngIf="orderForm.get('name').hasError('required') && orderForm.get('name').touched">
              Iм`я - обов`язкове поле
            </div>
          </div>
          <div class="field">
            <label>Місто доставки: *</label>
            <div class="ui big blue label">
              (шукайте українською)
            </div>
            <input [(ngModel)]="query" [ngModelOptions]="{standalone: true}" placeholder='Одеса'>
            <br>
            <i class="icon blue arrow down"></i> відкриває список міст
            <select class="ui fluid dropdown" (change)="getNovaPoshtaWarehouses($event); getNovaPoshtaCityName($event);">
              <option value="{{city.Ref}}" *ngFor="let city of novaPoshtaCities | citySearch:'Description':query">
                {{city.Description}}
              </option>
            </select>
            <!--<select class="ui fluid dropdown" (change)="getNovaPoshtaWarehouses($event); getNovaPoshtaCityName($event);">
                                <option value="{{city.Ref}}" *ngFor="let city of novaPoshtaCities" >{{city.Description}}</option>
                            </select>-->
            <div class="ui mini negative message" *ngIf="orderForm.get('address').hasError('required') && orderForm.get('address').touched">
              Місто доставки - обов`язкове поле
            </div>
            <input type="text" [hidden]="true" formControlName="address">
          </div>
          <div class="field">
            <label>Відділення: *</label>
            <select class="ui search dropdown" formControlName="warehouse" (change)="tempFormValueRefresh();">
              <option value="{{warehouse.Description}}" *ngFor="let warehouse of novaPoshtaWarehouses">
                {{warehouse.Description}}
              </option>
            </select>
            <div class="ui mini negative message" *ngIf="orderForm.get('warehouse').hasError('required') && orderForm.get('warehouse').touched">
              Відділення - обов`язкове поле
            </div>
          </div>
          <div class="field">
            Для оформлення кур'єрської доставки вкажіть адресу у коментарях
          </div>
        </div>
      </div>
      <div class="ui raised segments">
        <div class="ui huge segment">
          <h3 class="ui small blue header">
            <i class="icon blue image"></i> 4. Коментар або файли. (необов`язково)
          </h3>
        </div>
        <div class="ui big blue segment" style="background-color: #fafafa;">
          <div class="field">
            <label>Коментар:</label>
            <textarea placeholder="Xочу чтоб слева была реалистичная лампочка. И фон на визитке сделайте серым каким-то, как мой Матиз что-ли). И на обратной стороне перед каждой строчкой поставьте плиз какую-то точку жирную, или тире. Ну вроде все)"
              rows="3" formControlName="description" (input)="showEmailInput();">
            </textarea>
          </div>
          <div class="field">
            <label>Завантажити файл via Google Drive.</label>
            <a target="_blank" href="https://drive.google.com/drive/folders/1lx0kCGxWoyQ7td-i4cYDKnl9Ky2uQIx_?usp=sharing">
              <i class="large blue google icon"></i>
            </a>
          </div>
          <div class="field" *ngIf="showEmailInputFlag">
            <label>Та вкажіть Email на який вам відправити готовий макет:</label>
            <input type="text" formControlName="email" (change)="tempFormValueRefresh()">
          </div>
        </div>
      </div>
      <div style="background-color: #fafafa;" class="ui huge raised segment">
        <h1 class="ui green header">
          <div class="content">
            Ціна {{price}} грн
          </div>
        </h1>
        <div class="field">
          <button class="ui blue huge button" [disabled]="!orderForm.valid || purchaseFlag">
            <i class="icon shop"></i>
            Замовити
          </button>
          <br>
          <div class="ui small negative compact message" *ngIf="!orderForm.valid">
            Заповніть обов`язкові поля щоб зробити замовлення
          </div>
          <h2 class="ui green header" *ngIf="purchaseFlag">
            <div class="content">
              Замовлення зафiксовано.
              <i class="blue arrow down icon"></i>
            </div>
          </h2>
        </div>
      </div>
    </form>
    <div class="ui raised segments" *ngIf="purchaseFlag">
      <div class="ui huge segment">
        <h3 class="ui small blue header">
          <i class="blue payment icon"></i> 5. Оплата.
        </h3>
      </div>
      <div class="ui big blue segment" style="background-color: #fafafa;">
        <p>Це останній крок.</p>
        <p> Для запуску друку зробіть оплату на карту.</p>
        <div class="ui center aligned grid">
          <div class="three wide column">
            <i class="icon mail money"></i>
          </div>
          <div class="two wide column">
            <i class="icon mail forward"></i>
          </div>
          <div class="ten wide column">
            <i class="icon mail visa"></i>
          </div>
        </div>
        <div class="ui center aligned grid segment">
          <div class="three wide column">
            <h3 class="ui green header">
              <div class="content">
                {{price}}
              </div>
            </h3>
          </div>
          <div class="two wide column">
            <i class="icon green mail forward"></i>
          </div>
          <div class="eleven wide column">
            <h3 class="ui green header">
              <div class="content">
                5168742713406480
              </div>
            </h3>
          </div>
        </div>
        <a href="https://www.privat24.ua/" target="_blank">
          <button class="positive ui big button">
            <i class="icon money"></i>Приват24
          </button>
        </a>
      </div>
    </div>
  </div>
</div>