<div class="ui container">
  <div class="ui two column grid menu" style="background-color: #37474f;">
    <div routerLink="/products" class="eleven wide column item link">
      <h2 class="ui inverted header">
        <i class="print blue icon"></i> {{title}}
      </h2>
    </div>
    <div routerLink="/products" class="five wide right aligned column">
      <button class="ui facebook mini button">
        <i class="facebook icon"></i>Like
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<br>
<div class="ui inverted vertical footer segment site-content">
  <div class="ui container">
    <div class="ui inverted doubling stackable equal height stackable grid">
      <div class="six wide right aligned column">
        <a href="https://www.facebook.com/Signaculum-657360681131222/" class="ui small circular facebook icon button">
          <i class="facebook icon"></i>
        </a>
        Заходьте на Facebook проекта
      </div>
      <div class="ten wide right aligned column">© 2017 Signaculum 1.0.0
        <i class="ua flag"></i>
      </div>
    </div>
  </div>
</div>