<div class="ui left aligned large raised segment container" style="background-color: #f5f5f5;">
  <h3 class="ui header center aligned">Швидко та зручно друкуйте вашу поліграфію разом з нами.</h3>
  <p>
    <i class="icon wait"></i>Ми допоможемо зберігти ваш час.
  </p>
  <p>
    <i class="icon paint brush"></i>Ми розробимо ваш макет.
  </p>
  <p>
    <i class="icon hand pointer"></i>Надрукуємо навіть 1 шт.
  </p>
  <p>
    <i class="icon marker"></i>Доставимо в найближче відділення Нової Пошти.
  </p>
  <i class="icon ordered list"></i>Для вдалого замовлення зробіть п`ять простих кроків. 
  <div class="ui raised large segment">
    <i class="icon green arrow down"></i>1. Оберіть потрібний товар.
  </div>
  <div class="ui list">
    <div class="item">
    </div>
  </div>
  <div class="ui two columns stackable grid menu">
    <div class="ui column item link" *ngFor='let product of products'>
      <a [routerLink]="['/order-form/', product._id]">
        <div class="ui top left big blue attached label">{{product.name}}</div>
        <img [src]="product.imgSrc" alt="" class="ui image">
      </a>
    </div>
  </div>
</div>