<a [routerLink]="['/order-details/', order._id]" *ngFor='let order of orders' style="background-color: #fafafa;">
    <div class="ui big segment">
        <div class="ui stackable grid link">
            <div class="two wide column">
                {{order.price}}
            </div>
            <div class="three wide column">
                {{order.product}}
            </div>
            <div class="four wide column">
                {{order.address}}
            </div>
            <div class="four wide column">
                {{order.name}}
            </div>
        </div>
    </div>
</a>