<div class="ui big segment">
    <form class="ui big form" [formGroup]="searchInputForm" (ngSubmit)="onSearchSubmit(searchInputForm)">
        <div class="field">
            <label>Search:</label>
            <input type="text" formControlName="phone" placeholder="0501234567">
        </div>
        <div class="field">
            <button class="ui blue medium button" [disabled]="!searchInputForm.valid">
                Знайти
            </button>
            <br>
        </div>
    </form>
    <div *ngFor='let item of orders' [className]="item.status == 'done' ? 'ui segment green' : 'ui segment red'">
        <a [routerLink]="['/order-details/', item._id]">
            <div class="ui stackable grid link">
                <div class="one wide column">
                    {{item.price}}
                </div>
                <div class="two wide column">
                    {{item.product}}
                </div>
                <div class="two wide column">
                    {{item.address}}
                </div>
                <div class="five wide column">
                    {{item.warehouse}}
                </div>
                <div class="three wide column">
                    {{item.name}} {{item.surName}}
                </div>
                <div class="three wide column">
                    {{item.phone}}
                </div>
            </div>
        </a>
    </div>
</div>