<div *ngIf="order" class="ui left aligned large raised segment container" style="background-color: #fafafa;">
  <div class="ui stackable grid">
    <div class="column row">
      <div class="ui stackable grid">
        <div class="one wide column">
          {{order.price}}
        </div>
        <div class="one wide column">
          {{order.amount}}
        </div>
        <div class="two wide column">
          {{order.product}}
        </div>
        <div class="two wide column">
          {{order.address}}
        </div>
        <div class="four wide column">
          {{order.warehouse}}
        </div>
        <div class="four wide column">
          {{order.description}}
        </div>
        <div class="one wide column">
          <div (click)="deleteOrder(order._id)" class="ui mini button negative">
            Delete
          </div>
        </div>
      </div>
    </div>
    <div class="column row">
      2
    </div>
  </div>
</div>